body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
   bottom:0;
   width:100%;
   margin-top: 30px;   
   color:#999999;
}

.bannerleft {
    position:absolute;
    left: 0;
    height: 50px;
    width: 78px;
}

.bannerright {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 78px;
}

.bodycontainer {
    margin-top:10px;
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 20px; 
}

.userimages {
    margin:auto;
}

.profileimages {
    height: 100px;
    width: 100%;
    margin:auto;
    overflow: scroll; 
}

.biobox {
    width: 100%
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

Authsetting {
    border-style: outset;
}
